h1 {
  background-color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(70, 30, 144);
  margin-left: 230px;
  margin-right: 350px;
}
h2 {
  font-family: "Courier New", Courier, monospace;
  font-size: 70px;
  margin-left: 230px;
  margin-right: 355px;
}
h3 {
  font-size: 80px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  margin-left: 230px;
  margin-right: 355px;
}
.list {
  margin-left: 230px;
  margin-right: 355px;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.story1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 230px;
  margin-right: 355px;
}
.story2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 230px;
  margin-right: 355px;
}
.story3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-left: 230px;
  margin-right: 355px;
}

#youtube {
  position: fixed;
  margin-left: 1150px;
  width: 336px;
  height: 189px;
}
body {
  background-color: rgb(195, 197, 225);
}
.header {
  font-size: larger;
  background-color: white;
}

.link {
  font-size: large;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin-left: 230px;
  margin-right: 350px;
}

nav ul {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #373737;
  position: fixed;
  height: 100%;
  overflow: auto;
}

nav li a {
  color: white;
}

#banner img {
  height: 140px;
  width: 300px;
  vertical-align: middle;
}
img {
  width: 400px;
}
